#reflist {
  list-style-type:circle;
  margin-left: 14px;
}
#worldimg{
  text-align: center;
}
#nestedrisklist{
  list-style-type:disc;
  margin-left: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.grid-item ul{
  list-style-type:disc;
  margin-left: 14px;
}
.mapsimg{
  position: relative;
  width: 90%;
  left: 5%;
}

.grid-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #ccc;
}

.grid-item img {
  width: 100%;
  height: 60%;
}

.grid-item h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.grid-item p {
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  text-overflow: ellipsis;
  height: 100px;
}

.slider__inner h2{
  color: white;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td, th {
  padding: 8px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

th {
  background-color: #fcc236;
}

#contactsection{
  background-color: rgb(241, 241, 241);
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}

@media screen and (max-width: 1600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
  }
  .logo{
    height: auto;
    width: 110px;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
}
